html {
background: rgb(79,112,98);
background: -moz-linear-gradient(top,  rgba(79,112,98,1) 0%, rgba(97,138,121,1) 15%, rgba(138,173,159,1) 39%, rgba(201,217,211,1) 64%, rgba(240,244,243,1) 88%);
background: -webkit-linear-gradient(top,  rgba(79,112,98,1) 0%,rgba(97,138,121,1) 15%,rgba(138,173,159,1) 39%,rgba(201,217,211,1) 64%,rgba(240,244,243,1) 88%);
background: linear-gradient(to bottom,  rgba(79,112,98,1) 0%,rgba(97,138,121,1) 15%,rgba(138,173,159,1) 39%,rgba(201,217,211,1) 64%,rgba(240,244,243,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7062', endColorstr='#f0f4f3',GradientType=0 );

    background-attachment: fixed; 
    background-size: contain;
}
* {
  box-sizing: border-box;
}

ul
{
list-style: none;
padding: 20px 0 0 10px;
margin: 0;
}

div {
    margin: 0 auto;
  }

@font-face {
    font-family: "cabin";
    src: url("../fonts/cabin.ttf") format("truetype");
}

html {
    --color-teal: rgba(79, 112, 98, 1);
    --color-grey: rgba(78, 76, 76, 1); 
    --color-light: rgba(255, 255, 255, 1);
    --font-sans-serif: cabin, sans-serif;
}

a:link { text-decoration: none; color:rgba(255, 255, 255, 1);}


h1, h2, h3, h4, p, ul { font-family: cabin;}
h1 { color:var(--color-light); font-family: cabin; font-size: 28px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 50px; }
h2 { color:var(--color-light); font-family: cabin; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px; }
h3 { color: var(--color-grey); font-family: cabin; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 0px; }
h4 { color: var(--color-grey); font-family: cabin; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 0px; }
p { color: var(--color-grey); font-family: cabin; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 1.4; } 
ul { color:rgba(255, 255, 255, 1); font-family: cabin; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; }

body{
    flex-direction: column;
}

p{
  margin: .1em 1em 2em;
}

.title1{
  text-align: center;
  flex: auto;
}

.container {
padding: 0 30px;
flex-direction: column;
text-align: center;
margin: auto;
}

.logo{
  max-width: fit-content;
  margin: auto;
  flex: auto;
  padding: 0 0 20px 0;
  text-align: center;
}

.nav {
  text-align: center;
  margin: auto;
  padding-inline-start: 0 50px;
}

.title {
  text-align: center;
  margin: auto;
}

.wrapper{
  text-align: center;
  flex: auto;
  margin: 0 1em 1em;
}

.image {
  text-align: center;
  flex: auto;
  max-width: fit-content;
}

.logo2{
  margin: auto;
  max-width: fit-content;
}

img{
  margin:auto;
  flex: auto;
  text-align: center;
  max-width: fit-content;
}

h4{
  padding: 30px 0 0 0;
}

.contact {
  padding: 0 0 30px 0;
}